p {
  background-color: aqua;
  width: 400px;
  height: 100px;
}

.satu {
  border: dotted red 10px;
  overflow: scroll;
}

.dua {
  border: solid green;
  overflow: scroll;

}
.tiga {
  border: dashed blue 10px;
  overflow: scroll;
}
